
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RestablecerClave</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <button type="button" class="btn btn-outline-primary"><a href="https://www.youtube.com/watch?v=22kwmiyEN1s&list=PLx2nia7-PgoDptcrh4k4ZStjpVLZbS7rU&index=32">curso</a></button>
</body>
</html>
