
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RestablecerClave</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
                                        <p class="mb-4">Entendemos que a veces suceden cosas. Simplemente ingresa tu dirección de correo electrónico a continuación y te enviaremos un correo con una contraseña temporal.</p>
                                    </div>
                                    <form class="user" action="@Url.Action("RestablecerClave","Acceso")" method="post">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                name="correo" aria-describedby="emailHelp"
                                                placeholder="Ingresa tu correo electrónico">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Restablecer contraseña
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("RegistroCliente", "Acceso")">¡Crear una cuenta!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("Index", "Acceso")">¿Ya tienes una cuenta? ¡Inicia sesión!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.bundle.min.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.bundle.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.esm.min.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.esm.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.min.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>
